// Themable colors
$euiNavDrawerBackgroundColor: $euiHeaderBackgroundColor;

// Drawer variables
$euiNavDrawerWidthExpanded: 240px;
$euiNavDrawerWidthCollapsed: $euiHeaderChildSize;
$euiNavDrawerSideShadow: 1px 0 1px 0 rgba($euiShadowColor, .1), 2px 0 2px 0 rgba($euiShadowColor, .1), 4px 0 4px 0 rgba($euiShadowColor, .1), 8px 0 8px 0 rgba($euiShadowColor, .1);

// Layout variables
$euiNavDrawerTopPosition: $euiHeaderChildSize + 1px;

// Animation variables
$euiNavDrawerExpandingDelay: $euiAnimSpeedNormal;
$euiNavDrawerContractingDelay: $euiAnimSpeedFast;
$euiNavDrawerExtendedDelay: $euiAnimSpeedExtraSlow * 2;
$euiNavDrawerMenuAddedDelay: $euiAnimSpeedExtraFast;
