// This file uses RGBA literal values responsibly
// This file uses off-pattern indedentation to be more readible

// sass-lint:disable no-color-literals, no-color-keywords, indentation

// ------------------------------------
//  Flat
// ------------------------------------

@mixin euiBottomShadowFlat($color: $euiShadowColor, $opacity: .1) {
  box-shadow:
    0 0 12px 0 rgba($color, $opacity),
    0 0 4px 0 rgba($color, $opacity),
    0 0 2px 0 rgba($color, $opacity);
}

// ------------------------------------
//  Slight
// ------------------------------------

@mixin euiSlightShadow($color: $euiShadowColor, $opacity: .25) {
  box-shadow:
    0 1px 2px 0 rgba($color, $opacity),
    0 2px 4px 0 rgba($color, $opacity);
}

@mixin euiSlightShadowActive($color: $euiShadowColor, $opacity: .3) {
  @include euiSlightShadowHover($color, $opacity);
}

@mixin euiSlightShadowHover($color: $euiShadowColor, $opacity: .25) {
  box-shadow:
    0 1px 4px 0 rgba($color, $opacity),
    0 2px 6px 0 rgba($color, $opacity);
}

// ------------------------------------
//  Small
// ------------------------------------

@mixin euiBottomShadowSmall($color: $euiShadowColor, $opacity: .15) {
  box-shadow:
    0 1px 2px 0 rgba($color, $opacity),
    0 2px 4px 0 rgba($color, $opacity),
    0 4px 8px 0 rgba($color, $opacity),
    0 8px 16px 0 rgba($color, $opacity);
}

@mixin euiBottomShadowSmallHover($color: $euiShadowColor, $opacity: .15) {
  box-shadow:
    0 0 0 5px rgba($euiShadowColorHover, $opacity),
    0 2px 4px 0 rgba($color, $opacity),
    0 4px 8px 0 rgba($color, $opacity),
    0 8px 16px 0 rgba($color, $opacity),
    0 16px 32px 0 rgba($color, $opacity);
}

// ------------------------------------
//  Medium
// ------------------------------------

@mixin euiBottomShadowMedium($color: $euiShadowColor, $opacity: .175) {
  box-shadow:
    0 1px 2px 0 rgba($color, $opacity),
    0 2px 4px 0 rgba($color, $opacity),
    0 4px 8px 0 rgba($color, $opacity),
    0 8px 16px 0 rgba($color, $opacity),
    0 16px 32px 0 rgba($color, $opacity);
}

// ------------------------------------
//  Standard
// ------------------------------------

@mixin euiBottomShadow($color: $euiShadowColorLarge, $opacity: .1) {
  box-shadow:
    0 1px 2px 0 rgba($color, $opacity),
    0 2px 4px 0 rgba($color, $opacity),
    0 4px 8px 0 rgba($color, $opacity),
    0 8px 16px 0 rgba($color, $opacity),
    0 16px 32px 0 rgba($color, $opacity),
    0 32px 64px 0 rgba($color, $opacity);
}

// ------------------------------------
//  Large
// ------------------------------------

@mixin euiBottomShadowLarge($color: $euiShadowColorLarge, $opacity: .15) {
  box-shadow:
    0 1px 2px 0 rgba($color, $opacity),
    0 2px 4px 0 rgba($color, $opacity),
    0 4px 8px 0 rgba($color, $opacity),
    0 8px 16px 0 rgba($color, $opacity),
    0 16px 32px 0 rgba($color, $opacity),
    0 32px 64px 0 rgba($color, $opacity),
    0 64px 128px 0 rgba($color, $opacity);
}

// ------------------------------------
//  Overflow
// ------------------------------------

@mixin euiOverflowShadow {
  $hideHeight: $euiScrollBarCorner * 1.25;
    mask-image: linear-gradient(to bottom,
                  transparentize(red, .9) 0%,
                  transparentize(red, 0) $hideHeight,
                  transparentize(red, 0) calc(100% - #{$hideHeight}),
                  transparentize(red, .9) 100%
                );
}

// ------------------------------------
//  Popover
// ------------------------------------

@mixin euiPopoverShadow($color: $euiShadowColor, $opacity: .2) {
  filter:
    drop-shadow(0 1px 2px rgba($color, $opacity))
    drop-shadow(0 2px 4px rgba($color, $opacity))
    drop-shadow(0 4px 8px rgba($color, $opacity))
    drop-shadow(0 8px 16px rgba($color, $opacity))
    drop-shadow(0 16px 32px rgba($color, $opacity))
    drop-shadow(0 32px 64px rgba($color, $opacity))
    drop-shadow(0 64px 128px rgba($color, $opacity));
}
